@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

body {
    background-color:#202020;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: moccasin;
    margin: 0 auto;
    text-align: center;
}

p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.gato {
    display: flex;
    width: 1150px;
    margin: 0 auto;
    align-items: center;
}

.gato p {
    text-align: justify;
    font-size: 20px;
}

a {
    text-decoration: none;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    font-style: italic;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration:underline;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    transition: transform .2s;
  }

img:hover {
    transform: scale(1.1);
}

date {
    text-decoration: underline;
    color: #202020;
    background-color: rgb(224, 205, 170);
    padding: 15px 25px;
    border-radius: 10px;
}

.gragasmain:hover,.gragas:hover {
        animation-name: bounce;
        animation-duration: 2s;
}


.bebidas,.comidas,.conosco,.voltar { 
    display: inline-block;
    background-color: rgb(230, 207, 134);
    color: black;
    opacity: 0.9;
    padding: 15px 25px;
    border-radius: 8px;
    transition: transform .2s;
    z-index: 2;
}

.bebidas:hover,.comidas:hover,.conosco:hover,.voltar:hover {
    color: rgb(73, 68, 68);
    transform: scale(1.1);
}

 /* MENU DE NAV */
#barra {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    align-items: center;
    padding: 10px 100px 47px;
    z-index: 3;
    height: 30px;
    
}

#barra li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: moccasin;
    text-decoration: none;
    z-index: 3;
    
}

.logo {
    cursor: pointer;
    margin-right: 70%;
}

.linkmenu {
    list-style: none;
}

.linkmenu li {
    display: inline-block;
    padding: 0px 20px;
}

.linkmenu li a {
    transition: all 0.3s ease 0s;
}

.linkmenu li a:hover {
    color: rgb(223, 197, 154);
}

.botaomenu {
    padding: 9px 25px;
    margin-left: 20px;
    background-color: rgb(231, 214, 117, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #202020;
}

.botaomenu:hover {
    background-color: rgba(231,214,117,0.8) ;
}
   .bar {
    text-decoration: none;
    color: white;
    background-color: #202020;
    margin: 0 200px;
    align-items: center;
} 

#happyhour {
    background-color: #202020;
    color: #fff;
    padding: 40px 0;
    margin-top: 204px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: flex-end;
    align-items: center;
}

#happyhour h2 {
    color: moccasin;
    text-decoration: none;
}

/* TENTATIVA DE CARDAPIO DE FUNDO EM BEBIDAS
 #bebidas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}
 grid;
    grid-area: 1 / col4-start / last-line / 6;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto; */

.gragasmain {
    z-index: 2;
    
}

#home p{
    position: relative;
    z-index: 2;
    font-size: 1.7em;
    
    
}

#home a {
    font-size:0.6em;
}

#home::before {
    content: ' ';
    display: flex;
    position:absolute;
    left: 0;
    top:88px;
    width: 100%;
    height: 629px;    
    z-index: 1;
    opacity: 0.6;
    background-image: url(imagens/gragasbg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

 #footer {
     color: #202020;
     background: moccasin;
     padding: 20px  0 23px 0;
     font-size: 1.2em;   
 }

 #footer a {
     color: #202020;
     font-weight: bold;
     font-size: large;
 }

 .header {
    color: #202020;
    background: moccasin;
    height: 15px;
    padding:  1px 0 55px 0 ;
    font-size: 1.2em;  
}
.header h1 {
    margin: auto;
}

.cu {
    margin-top: 0;
    margin-bottom: 0;
}
/* BOTAR UMA BACKGROUND IMAGE NO LADO ESQUERDO E DIREITO DO CARDÁPIO. */


.barril {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.Mensagem {
    display: inline-block;
    background-color: #888888;
    color: #202020;
    padding: 15px 30px;
    border-radius: 10px;
}