@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

body {
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
}

p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.gato {
    display: flex;
    width: 1150px;
    margin: 0 auto;
    align-items: center;
}

.gato p {
    text-align: justify;
    font-size: 20px;
}

a {
    text-decoration: none;
}

hr {
    border-top: 2px solid black;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    font-style: italic;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-decoration:underline;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    transition: transform .2s;
  }

img:hover {
    transform: scale(1.1);
}

.gragasmain:hover,.gragas:hover {
        animation-name: bounce;
        animation-duration: 2s;
}

.voltar {
    display: inline-block;
    background-color: #0088cc;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    transition: transform .2s;
}
/* botar cor foda */
.bebidas,.comidas,.conosco { 
    display: inline-block;
    background-color: #202020;
    color: moccasin;
    opacity: 0.9;
    padding: 15px 25px;
    border-radius: 8px;
    transition: transform .2s;
    z-index: 2;
}

.bebidas:hover,.comidas:hover,.conosco:hover,.voltar:hover {
    color: gainsboro;
    transform: scale(1.1);
}

.bar {
    text-decoration: none;
    color: white;
    background-color: #202020;
    margin: 0;
    padding: 10px;
}

#happyhour {
    background-color: #202020;
    color: #fff;
    padding: 40px 0;
    margin-top: 204px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: flex-end;
    align-items: center;
}

#happyhour h2 {
    color: moccasin;
    text-decoration: none;
}

.gragasmain {
    z-index: 2;
    
}

#home p{
    position: relative;
    z-index: 2;
    font-size: 1.7em;
    
    
}

#home a {
    font-size:0.6em;
}

#home::before {
    content: ' ';
    display: flex;
    position:absolute;
    left: 0;
    top: 77px;
    width: 100%;
    height: 629px;    
    z-index: 1;
    opacity: 0.6;
    background-image: url(imagens/gragasbg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

 #footer {
     color: #202020;
     background: moccasin;
     padding: 20px  0 23px 0;
     font-size: 1.2em;   
 }

 #footer a {
     color: #202020;
 }